figure,
figcaption {
	display: block
}

.transition {
	-webkit-transition: top 400ms linear;
	-moz-transition: top 400ms linear;
	-ms-transition: top 400ms linear;
	-o-transition: top 400ms linear;
	transition: top 400ms linear
}

.timeTo {
	font-family: Tahoma, Verdana, Aial, sans-serif;
	font-size: 28px!important;
	line-height: 108%;
	font-weight: 700;
	height: 32px
}

.timeTo div ul li {
	font-size: 28px!important
}

.timeTo span {
	vertical-align: top
}

.timeTo.timeTo-white div {
	color: #f00;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 38%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(38%, #ffffff), color-stop(100%, #cccccc));
	background: -webkit-linear-gradient(top, #ffffff 38%, #cccccc 100%);
	background: -o-linear-gradient(top, #ffffff 38%, #cccccc 100%);
	background: -ms-linear-gradient(top, #ffffff 38%, #cccccc 100%);
	background: linear-gradient(to bottom, #ffffff 38%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0)
}

.timeTo.timeTo-black div {
	color: #fff;
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
	background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
	background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0)
}

.timeTo.timeTo-black .timeTo-alert {
	background: #a74444;
	background: -moz-linear-gradient(top, #a74444 0%, #3f0000 67%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a74444), color-stop(67%, #3f0000));
	background: -webkit-linear-gradient(top, #a74444 0%, #3f0000 67%);
	background: -o-linear-gradient(top, #a74444 0%, #3f0000 67%);
	background: -ms-linear-gradient(top, #a74444 0%, #3f0000 67%);
	background: linear-gradient(to bottom, #a74444 0%, #3f0000 67%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74444', endColorstr='#3f0000', GradientType=0)
}

.timeTo.timeTo-white .timeTo-alert {
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 35%, #e17373 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ffffff), color-stop(100%, #e17373));
	background: -webkit-linear-gradient(top, #ffffff 35%, #e17373 100%);
	background: -o-linear-gradient(top, #ffffff 35%, #e17373 100%);
	background: -ms-linear-gradient(top, #ffffff 35%, #e17373 100%);
	background: linear-gradient(to bottom, #ffffff 35%, #e17373 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e17373', GradientType=0)
}

.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0
}

.timeTo figcaption {
	text-align: center;
	line-height: 80%;
	font-weight: 400;
	color: #888
}

.timeTo div {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 30px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	border-left: 1px solid silver;
	overflow: hidden
}

.timeTo div {
	margin-left: -10px;
}

.timeTo div:first-child {
	margin-left: 0px;
}

.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
	line-height: 1!important
}

.timeTo ul li {
	margin: 0;
	padding: 0;
	list-style: none
}

.popups {
	position: fixed;
	z-index: 11111;
	top: 0px;
	right: 10px;
	color: black;
	max-width: 280px;
}

.buy-pop,
.count-pop {
	display: none
}

.buy-pop {
	top: 70px;
}

.count-pop {
	top: 140px;
}

.popup {
	margin: 0 auto;
	background: linear-gradient(#d1f0ff, #e8f8ff);
	padding: 10px;
	text-align: center;
	position: relative;
	font-family: Roboto;
	box-shadow: 0 0 6px black;
	border-radius: 5px;
}

.popup p {
	padding: 0;
	margin: 0;
	line-height: 1;
}

.cls-pop {
	position: absolute;
	right: 270px;
	top: -9px;
	width: 20px;
	height: 20px;
	opacity: 0.7;
	cursor: pointer;
	background: white;
	border-radius: 15px;
}

.cls-pop:hover {
	opacity: 1;
}

.cls-pop:before,
.cls-pop:after {
	position: absolute;
	top: 2px;
	left: 8px;
	content: ' ';
	height: 16px;
	width: 4px;
	background-color: #333;
}

.cls-pop:before {
	transform: rotate(45deg);
}

.cls-pop:after {
	transform: rotate(-45deg);
}

.pop-name,
.pop-city,
.pop-prod,
.pop-count {
	color: #a50000;
	font-weight: bold;
}

/* animation pops */

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-5 12:14:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
	0% {
		display: block !important;
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  @keyframes scale-in-center {
	0% {
		display: block !important;
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }

  .slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
  

  /* ----------------------------------------------
 * Generated by Animista on 2020-6-5 12:25:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
  }
  @keyframes slide-out-top {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
  }
  